@model IEnumerable<StLouisSites.ViewModels.Categories.CategoryListItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>St. Louis Site Categories:</h1>

<div>

    <hr />
    <table border="1" cellpadding="10">
        <tr>
            <th bgcolor="#cce6ff">Category Id</th>
            <th bgcolor="#cce6ff">Category Name</th>
        </tr>

        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </table>
</div>