@{
    ViewData["Title"] = "St. Louis Sites";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>This website will allow you to add locations around the St.Louis area that you would like to explore.</p>
</div>
