@{
    ViewData["Title"] = "St. Louis Sites";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>This website will give you general information about recommended locations around the St.Louis area to explore.</p>
</div>
